doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Trip Track
    style !{bootstrap}
    style.
      td { margin-right: 2ex; }
  body
    #main.container-fluid.col-lg-6
      each r in routes
        .route(id=r.id)
          h3
            code= r.start
            span
              |
              | to
              |
            code= r.end
          .graph
          table.table.table-striped.table-condensed
            thead
              tr
                th Time of day
                th Duration
            tbody
              each t in r.times
                tr
                  td #{t.time}
                  td #{t.duration}
