doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Trip Track
    style !{bootstrap}
  body
    mixin routeName(r)
      code= r.start
      span
        |
        | to
        |
      code= r.end

    #main.container-fluid
      .row
        ul
          each r in routes
            li
              a(href='#'+r.id)
                +routeName(r)

      .row
        each r in routes
          .route(id=r.id).col-lg-3.col-sm-6
            h3
              +routeName(r)
            .graph
            table.table.table-striped.table-condensed
              thead
                tr
                  th Time of day
                  th Duration
              tbody
                each t in r.times
                  tr
                    td #{t.time}
                    td #{t.duration}
