doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Trip Track
    style !{bootstrap}
    style.
      .github-logo {
        background-image: url("data:image/svg+xml;base64,#{github.svg}");
        background-size: cover;
        width: #{github.w}px;
        height: #{github.h}px;
        display: inline-block;
        /**/
      }
  body
    mixin routeName(r)
      code= r.start
      span
        |
        | to
        |
      code= r.end

    #main.container-fluid
      .row
        ul
          each r in routes
            li
              a(href='#'+r.id)
                +routeName(r)
      .row
        each r, index in routes
          .route.col-lg-3.col-sm-6
            h3
              +routeName(r)
            .graph
              canvas(id=r.id)
            table.table.table-striped.table-condensed
              thead
                tr
                  th Time of day
                  th Duration
              tbody
                each t in r.times
                  tr
                    td #{t.time}
                    td #{t.duration}
      .row
        a(href="https://github.com/brewingcode/trip-track", title="View on GitHub")
          .github-logo

    script !{chartJs}
    script !{momentJs}
    script.
      var routes = !{JSON.stringify(routes)};
    script !{myJs}
    script.
      routes.forEach(function(r,i) {
        chartInit(r.id, i);
      });
