extends ../node_modules/static-page/src/_base

append head
  title Trip Track
  style !{css['bootstrap.min']}
  style !{styl.main}

append body
  mixin routeName(r)
    code= r.start
    span.

      to

    code= r.end

  #main.container-fluid
    .row.text-center
      h1 Trip Track
      ul.list-unstyled
        each r in json.routes
          li
            a(href='#'+r.id)
              +routeName(r)
    .row.routes
      each r, index in json.routes
        .route.col-lg-3.col-sm-6
          h3.route-heading
            +routeName(r)
          .graph
            canvas(id=r.id)
          table.table.table-striped.table-condensed
            thead
              tr
                th Time of day
                th Duration
            tbody
              each t in r.times
                tr
                  td #{t.time}
                  td #{t.duration}
    .row.text-center
      a(href="https://github.com/brewingcode/trip-track", title="View on GitHub")
        .github-logo

  script !{js['Chart.bundle.min']}
  script !{js.moment}
  script.
    var routes = !{JSON.stringify(json.routes)};
  script !{coffee.client}
  script.
    routes.forEach(function(r,i) {
      chartInit(r.id, i);
    });
