extends ../node_modules/static-page/src/_base

append head
  title Trip Track
  :inject(file="bootstrap.min.css")
  :inject(file="main.styl")

append body
  mixin routeName(r)
    code= r.start
    span.

      to

    code= r.end

  #main.container-fluid
    .row.text-center
      h1 Trip Track
      ul.list-unstyled
        each r in src["routes.json"]
          li
            a(href='#'+r.id)
              +routeName(r)
    .row.routes
      each r, index in src["routes.json"]
        .route.col-lg-3.col-sm-6
          h3.route-heading
            +routeName(r)
          .graph
            canvas(id=r.id)
          table.table.table-striped.table-condensed
            thead
              tr
                th Time of day
                th Duration
            tbody
              each t in r.times
                tr
                  td #{t.time}
                  td #{t.duration}
    .row.text-center
      a(href="https://github.com/brewingcode/trip-track", title="View on GitHub")
        :inject(file="github.svg")

  :inject(file="Chart.bundle.min.js")
  :inject(file="moment.js")
  script.
    var routes = !{JSON.stringify(src['routes.json'])}
  :inject(file="client.coffee")
  :inject(ext="coffee")
    routes.forEach (r,i) -> chartInit r.id, i
